<div class="page">
  <!-- Sidebar -->
  <!-- <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand navbar-brand-autodark">
        <a href=".">
          <img src = "assets/davis_station_icon_400px_reverse.png" height="250" alt="Personal Weather Station Icon" class="navbar-brand-image">
        </a>
      </h1>

      <div class="collapse navbar-collapse" id="sidebar-menu">
        <ul class="navbar-nav pt-lg-3">

          <li class="nav-item">
            <a class="nav-link" href="./" >
              <span class="nav-link-icon d-md-none d-lg-inline-block">                    
              </span>
              <span class="nav-link-title">
                Home
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >
              <span class="nav-link-icon d-md-none d-lg-inline-block">                    
              </span>
              <span class="nav-link-title">
                About the project
              </span>
            </a>
          </li>
        </ul>
      </div>
      
    </div>
  </aside>
   -->
  
  <div class="page-wrapper">
  
      <!-- -----------Page header--------- -->
      <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <!-- Page pre-title -->
              <div class="page-pretitle">
                MSU Enviroweather
              </div>
              <h2 class="page-title">
                Personal Weather Station Dashboard &nbsp;&nbsp;
              </h2>                
            </div>
            
            <!-- ---------Page title actions---------- -->
            <div class="col-12 col-md-auto ms-auto d-print-none">
              <div class="btn-list">
                <span class="d-none d-sm-inline">
                  <span class="btn btn-link">
                    <em class="text-warning">&nbsp;for demonstration only</em>
                  </span>
                </span>  
                <span class="d-none d-sm-inline">
                  <a href="https://enviroweather.msu.edu" class="btn btn-link">
                    Enviroweather Main Site
                  </a>
                </span> 
                <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">                                        
                  Download Data
                </a>
                <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
                                      
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Page body -->
      <div class="page-body">
        <div class="container-xl">

          
          <!-- data cards -->
          <div class="row row-deck row-cards mb-3">

            <!-- ------table of stations------ -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body m-0 p-0" >
                    {{ station_table | plotly }}
                    </div>
                </div>
            </div>

            <!-- ------ map  of stations------ -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body m-0 p-0" >
                        {{station_map | plotly}}
                    </div>
                </div>
            </div>
          
            <!-- selected station stat cards -->
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="subheader">Selected Station</div>
                  </div>
                  <div class="h1 mb-3">
                      <a id = "text_station_table_selection" href='#'></a>
                  </div>           
                  <div>
                    <div id="station_type_cell" class="d-inline lh-1 mr-1 pr-1 text-muted" style="padding-right:1em;"></div>
                    <div id="latest_reading_date_cell" class="d-inline lh-1 ml-1 text-muted" style="padding-left:1em;" ></div> 
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-2 col-lg-2">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="subheader">Temperature</div>
                  </div>
                  <div class="d-flex align-items-baseline">
                    <div id="latest-atmp" class="h1 mb-0 me-2">--</div>
                    <div class="me-auto">
                      <span class="d-inline-flex align-items-center lh-1">
                        F                           
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-2 col-lg-2">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="subheader">Precipitation</div>
                    <div class="ms-auto lh-1">
                      <!-- example drop down in card sub-head that could change the units -->
                      <!-- <div class="dropdown">
                        <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">hourly</a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item active" href="#">inches</a>
                          <a class="dropdown-item" href="#">mm</a>                        
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="d-flex align-items-baseline">
                    <div id="latest-pcpn" class="h1 mb-3 me-2">--</div>
                    <div class="me-auto">
                      <span class="d-inline-flex align-items-center lh-1">
                        inches               
                      </span>
                    </div>
                  </div>
                  <div id="" class="chart-sm"></div>
                </div>
              </div>
            </div>


            <div class="col-sm-6 col-md-2 col-lg-2">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="subheader">Rel Humidity</div>
                    <!-- <div class="ms-auto lh-1">
                      <div class="dropdown">
                        <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">current</a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item active" href="#">current</a>
                          <a class="dropdown-item" href="#">daily</a>
                          <a class="dropdown-item" href="#">other</a>
                        </div>
                      </div> 
                    </div> -->
                  </div>
                  <div class="d-flex align-items-baseline">
                    <div id="latest-relh" class="h1 mb-3 me-2">--</div>
                    <div class="me-auto">
                      <span class="d-inline-flex align-items-center lh-1">
                        %                           
                      </span>
                    </div>
                  </div>
                  <div id="chart-active-users" class="chart-sm"></div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-2 col-lg-2">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="subheader">Wind Speed</div>
                      <!-- <div class="ms-auto lh-1">
                        <div class="dropdown">
                            <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">current</a>
                            <div class="dropdown-menu dropdown-menu-end">
                              <a class="dropdown-item active" href="#">current</a>
                              <a class="dropdown-item" href="#">daily</a>
                              <a class="dropdown-item" href="#">other</a>
                            </div>
                        </div>
                      </div> -->
                  </div>
                  <div class="d-flex align-items-baseline">
                    <div id="latest-wspd" class="h1 mb-3 me-2">--</div>
                    <div class="me-auto">
                      <span class="d-inline-flex align-items-center lh-1">
                        mph                           
                      </span>
                      <span id="latest-wdir" class="d-inline-flex align-items-center lh-1" style="margin-left:1em;">                                                
                      </span>

                    </div>
                  </div>
                  <div id="current-wspd-datetime" class="text-muted"></div>
                </div>
              </div>
            </div>

          </div>
          <div class="row " id="no_station_message">  
            <!-- DAILY WEATHER wide data card with tabs-->
            <div class="col-12" >
              <div class="card">
                <div class="card-body">Please select a station</div>
              </div>
            </div>
          </div>
          <div id = "data_section" style="display:none">
            <div id="model_section">              
                <!-- weather data and models -->
                <div class="col-md-12 col-12" >
                  <div class="card mb-3">
                    <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a href="#tabs-weather-viz" 
                            class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab">Weather Graph</a>
                        </li>                        
                        <li class="nav-item" role="presentation">
                          <a href="#tabs-weather-4"
                            class="nav-link" data-bs-toggle="tab" aria-selected="false" role="tab">Hourly Data</a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a href="#tabs-weather-summary-table" 
                            class="nav-link" data-bs-toggle="tab" aria-selected="false" role="tab">Weather Summary</a>
                        </li>                         
                        <li class="nav-item" role="presentation">
                          <a href="#tabs-tomcast-4"
                            class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">TOMCAST Demo</a>
                        </li>                        
                        <li class="nav-item" role="presentation">
                          <a href="#tabs-applescab" 
                            class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Apple Scab Demo</a>
                        </li>

                        <!-- <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Crop Models</a>
                          <div class="dropdown-menu" >
                            <a class="dropdown-item" href="#">
                              model 1
                            </a>
                            <a class="dropdown-item" href="#">
                              model 2
                            </a>
                          </div>
                        </li> -->
                      </ul>
                    </div>

                    <!-- tab contents-->
                    <div class="card-body">
                      <div class="tab-content">
                        <!-- WEATHER VISUALIZATION  -->
                        <div class="tab-pane active show" id="tabs-weather-viz" role="tabpanel"> 
                          <div class="p-1">
                            {{weather_viz | plotly}}
                          </div>                           
                        </div>
                        

                        <!-- HOURLY TABLE -->
                        <div class="tab-pane" id="tabs-weather-4" role="tabpanel"> 
                          <div class="p-1">
                            {{ hourly_weather_form | plotly}}
                          </div>                           
                          <div  id = "hourly_readings_table" class="table m-0 p-0"></div>                       
                        </div>


                        <!-- WEATHER SUMMARY -->
                        <div class="tab-pane" id="tabs-weather-summary-table" role="tabpanel"> 
                          <div id="weather_summary_form" class="p-1">
                            {{ weather_summary_form | plotly}}
                          </div>                        
                          <div>
                            {{weather_summary_results | plotly }}
                          </div>                                                  
                        </div>

                        <!-- TOMCAST -->
                        <div class="tab-pane" id="tabs-tomcast-4" role="tabpanel">
                          <div id="tomcast_form" class="p-1">
                            {{ tomcast_form | plotly}}
                          </div>
                          <div>
                            {{ tomcast_results | plotly }}
                          </div>
                        </div>

                        <!-- APPLESCAB -->
                        <div class="tab-pane" id="tabs-applescab" role="tabpanel">
                          <div id="applescab_form" class="p-1">
                            {{ applescab_form | plotly}}
                          </div>
                          <div>
                            {{ applescab_results | plotly }}
                          </div>
                        </div>

                      </div>
                    </div>
                  
                  </div>

                </div>
            </div>
            <div class="row" id = "station_data_section">  
                <!-- station meta data-->
                <div class="col-md-12 col-lg-12">
                  <div class="card mb-3">
                      <div class="card-header">
                          <h3 class="card-title">Station Details</h3>
                        </div>
                      <div class="card-body">
                          <!-- <h5 class="card-title"></h5> -->
                          <p class="card-text"></p>
                      </div>
                  </div>
                  <div class="card mb-3">
                  <div class="card-body">
                    <p class="mb-3">Station API Data Collection Status</p>
                    <div class="progress progress-separated mb-3">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-label="operatonal"></div>
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 10%" aria-label="maintainance"></div>
                      <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-label="operatonal"></div>
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-label="error"></div>
                      <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-label="operatonal"></div>
                    </div>
                    <div class="row">
                      <div class="col-auto d-flex align-items-center pe-2">
                        <span class="legend me-2 bg-success"></span>
                        <span>Success</span>
                        <!-- <span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">n/N</span> -->
                      </div>
                      <div class="col-auto d-flex align-items-center px-2">
                        <span class="legend me-2 bg-warning"></span>
                        <span>Pause or Delayed</span>
                        <!-- <span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">n/N</span> -->
                      </div>
                      <div class="col-auto d-flex align-items-center ps-2">
                        <span class="legend me-2 bg-danger"></span>
                        <span>Error</span>
                        <!-- <span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">n/N</span> -->
                      </div>
                    </div>
                  </div>
                  </div>
                </div>            
            </div>
          </div> <!-- data section, hidden until station is selected -->
        </div> <!-- container-->
      </div> <!-- page-body-->
      <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
          <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
              <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item"><a href="#" class="link-secondary">MABR</a></li>
                <li class="list-inline-item"><a href="#" class="link-secondary">CANR</a></li>
                <li class="list-inline-item"><a href="#" class="link-secondary" rel="noopener">GEO</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
              <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                  Copyright &copy; 2024              
                  <a href="https://enviroweather.msu.edu" class="link-secondary">MSU Enviroweather</a>.
                  <em>This site is currently for demonstration purposes only</em>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="link-secondary" rel="noopener">
                    v0.2
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

  </div> <!-- page wrapper-->
  
</div> <!-- page -->